.icon-bottom{
	background-image:url(css/icons/32/bullet_arrow_bottom.png) no-repeat center center;;
}

.icon-down{
	background-image:url(css/icons/32/bullet_arrow_down.png) no-repeat center center;;
}
.icon-top{
	background-image:url(css/icons/32/bullet_arrow_top.png) no-repeat center center;;
}
.icon-up{
	background-image:url(css/icons/32/bullet_arrow_up.png) no-repeat center center;;
}